<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/stylesheets/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Raleway+Dots&family=Roboto:wght@300&display=swap"
		rel="stylesheet">
	<title>Be REDY!</title>
	<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="/assets/js/whiteboard.js"></script>
	<script src="/assets/js/signup.js"></script>
	<script src="/assets/js/login.js"></script>
	<script src="/assets/js/vote.js"></script>
	<script src="/assets/js/comments.js"></script>
	<!-- Font Awesome-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
</head>

<body>
	{{{ body }}}
</body>

</html>