form.signup,
form.login {
  margin-top: 50px;
}

.draggable {
  width: 200px;
  min-height: 6.5em;
  margin: 10%;
  /* background-color: #29e; */
  background-image: url("../stickynote.png");
  color: white;
  border-radius: 0.75em;
  padding: 4%;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  position: fixed;
}

.deleteButton {
  position: absolute;
  top: 25px;
  left: 35px;
  color: black;
}

.voteButton {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 1.5em;
  color: black;
}
