form.signup,
form.login {
  margin-top: 50px;
}

.draggable {
  width: 200px;
  height: 200px;
  min-height: 6.5em;
  background-image: url("../stickynote.png");
  border-radius: 0.75em;
  padding: 35px;
  touch-action: none;
  user-select: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  position: fixed;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 10px;
}
