/* General Styles */
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-weight: 300;
}

.row {
  height: 100vh;
  padding-top: 25%;
}

/* NavBar */
.navbar {
  position: relative;
  height: 72px;
  background-color: #fcfcfc !important;
}

.navbar-header {
  position: absolute;
  right: 24px;
  top: 16px;
}

.dropdown-menu {
  text-align: center;
  width: 100%;
}
.welcome {
  color: #525252;
}

.dropdown-item {
  color: #525252;
}

.dropdown-item:hover {
  text-decoration: none;
}

.be-redy {
  font-size: 24px;
  position: absolute;
  top: 16px;
  left: 24px;
  font-family: "Raleway Dots", cursive;
  color: #525252;
}

.be-redy:hover {
  color: #262626;
  text-decoration: none;
}

/* Login & Signup form */
form.signup,
form.login {
  margin-top: 50px;
}

#form-button {
  background: #14c398;
  border-color: #14c398;
  color: #ffffff;
}

/* Landing Page Styles */

/* Main DIV */
.landing {
  position: fixed;
  width: 608px;
  height: 224px;
  margin: 50px auto;
  font-size: 40px;
  line-height: 47px;
  color: #535353;
}

.be-redy-text {
  font-family: "Raleway Dots", cursive;
}
.to-sign-up {
  color: #14c398;
}

.to-sign-up:hover {
  color: #0e9472;
  text-decoration: none;
}

/* Removing underline on hover of Click HERE */
.a-href:hover {
  text-decoration: none;
}

/* Login Button */
#login-button {
  background: #14c398;
  border-color: #14c398;
  border-radius: 2px;
  font-size: 18px;
  padding: 8px 32px;
}
.login-button,
.signup-button {
  padding: 8px 32px !important;
  font-size: 18px !important;
}

.formMargin {
  margin-bottom: 48px !important;
}

.row {
  padding-top: 88px !important;
}

/* Anchor tag in Login Button */
.landing-login-a {
  text-decoration: none;
  color: #ffffff;
}

.landing-login-a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* InteractJS draggable CSS */
.draggable {
  width: 200px;
  height: 200px;
  min-height: 6.5em;
  border-radius: 0.75em;
  padding: 35px;
  touch-action: none;
  user-select: none;
  position: absolute;
  top: 80px;
  bottom: 80px;
}

/* Delete Button */
.deleteButton {
  position: absolute;
  top: 15px;
  left: 25px;
  color: #525252;
  opacity: 0;
}
.draggable:hover .deleteButton {
  opacity: 1;
}

/* Voting on a note */
.voteButton {
  position: absolute;
  top: 10px;
  right: 26px;
  display: grid;
  place-items: center;
}

.voteStar {
  width: 20px;
}

.voteStarEmpty {
  width: 20px;
  opacity: 0.3;
}
.voteStar:hover {
  opacity: 1;
}
.voteStarEmpty:hover {
  opacity: 1;
}

.voteCount {
  position: absolute;
  top: -2px;
  right: -6px;
  margin: 0;
  padding: 0 0.4em;
  background-color: #d62727;
  border-radius: 20px;
  color: white;
  font-size: 0.8em;
  opacity: 0;
}

/* Side Panel */
.side-panel {
  position: absolute;
  width: 48px;
  height: 216px;
  left: 32px;
  top: 404px;
  background: #fcfcfc;
  border: 0.2px solid #ededed;
  box-sizing: border-box;
  box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}

.side-panel-icon {
  margin: 2px;
  padding: 15px 0px 15px 0px;
}

.side-panel-icon img,
.button {
  cursor: pointer;
}

/* Comments */
.dropright {
  margin-left: 104px;
  margin-top: -5px;
}
.dropdown-menu {
  z-index: 99;
  border-radius: 8px;
  padding: 8px !important;
  position: absolute;
}
.newComment {
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.newComment:hover {
  opacity: 1;
}
.commentInput {
  width: 100%;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
}

::placeholder {
  color: #c4c4c4;
  padding-left: 8px;
}

hr {
  margin: 8px 0px !important;
}

.textInput {
  position: absolute;
  top: 38px;
  right: 38px;
  left: 38px;
}

/* Comment Delete */
.commentDelete {
  position: absolute;
  right: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.thisComment:hover .commentDelete {
  opacity: 1;
}

/* New Note Button */
.newStickyNoteButton img {
  height: 24px;
  width: 24px;
  margin-top: 16px;
}

.newStickyNoteButton {
  background-color: #fcfcfc;
  padding: 0px 0px 0px;
}

.new-post-its {
  width: 42px;
  position: absolute;
  left: 32px;
}

#dropdownMenuButton {
  padding: 0px;
}

/* Comment Count */
.commentCount {
  position: absolute;
  top: 4px;
  right: 4px;
  margin: 0;
  padding: 0 0.4em;
  background-color: #d62727;
  border-radius: 20px;
  color: white;
  font-size: 0.9em;
  font-weight: 400;
  opacity: 0;
}
