<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <a class="be-redy" href="/">BE-REDY</a>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="landing">
          <p>
          Welcome to the <span class="be-redy-text">BE-REDY</span> whiteboard platform. Click <a class="a-href to-sign-up" href="/signup">HERE</a> to get started!
          </p>
          <br />
          <button id="login-button" type="submit" class="btn btn-default"><a class="landing-login-a" href="/login">Login</a></button>
        </div>
      </div>
    </div>
  </div>
</body>
